@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none !important;
  }
}